:root{
    --main-color: #1566C0;
    --secondary-color: rgb(255, 193, 6);
    --text-color: rgb(108, 117, 126);
    --title-font: 'Righteous', cursive;
    --text-font: 'Roboto', sans-serif;
}

*{
    box-sizing: border-box;
}

body{
    height: 8000px;
    background-color: rgba(255, 166, 0, 0.1) !important;
    min-width: 280px !important;
}

/* Header */
.custom-header{
    background-image: url(./media/header.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    overflow: hidden;
}

.bg-filter-header{
    height: 100%;
    position: relative;
    padding: 120px 60px 0px 60px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 20%, rgba(255, 255, 255, 0) 80%);
}

.header-content{
    width: 400px;
}

.header-custom-title{
    font-size: 68px;
    color: white;
    font-family: var(--title-font);
    margin: 0px;
}

.header-custom-paragraph{
    color: white;
    font-family: var(--text-font);
    margin: 10px 0px 46px 0px;
}

.header-custom-button{
    border: none;
    background-color: var(--secondary-color);
    padding: 6px 40px;
    font-family: var(--text-font);
    font-weight: 500;
    margin: 0px;
}

.header-wave-1{
    position: absolute;
    bottom: -60px;
    left: 0px ;
    z-index: 1;
}

.header-wave-2{
    position: absolute;
    bottom: -40px;
    left: 0px;
    z-index: 0;
}

/* Section 1 */
.title-section-1{
    font-size: 45px;
    font-family: var(--title-font);
    color: var(--main-color);
    text-align: center;
}

.paragraph-section-1{
    font-size: 18px;
    font-family: var(--text-font);
    color: var(--text-color);
    text-align: center;
}















































































/* Media Query Extra Extra Extra Large Screen "XXXL" */
@media screen and (max-width: 1599px){

}

/* Media Query Extra Extra Large Screen "XXL" */
@media screen and (max-width: 1399px){
    /* Header */
    .header-wave-1{
        bottom: 0px;
    }
    
    .header-wave-2{
        bottom: 18px;
    }
}

/* Media Query Extra Large Screen "XL" */
@media screen and (max-width: 1199px){

}

/* Media Query Large Screen "LG" */
@media screen and (max-width: 991px){
    /* Header */
    .header-content{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .header-custom-title{
        text-align: center;
    }
    
    .header-custom-paragraph{
        text-align: center;
        margin: 10px 0px 24px 0px;
    }

}

/* Media Query Medium Screen "MD" */
@media screen and (max-width: 767px){

}

/* Media Query Small Screen "SM" */
@media screen and (max-width: 575px){
    /* Header */
    .custom-header{
        height: 100vh;
    }

    .bg-filter-header{
        padding: 50% 60px 0px 60px;
    }

    .header-custom-title{
        font-size: 50px;
    }

    .header-custom-paragraph{
        display: none;
    }

    .header-custom-button{
        margin-top: 20px;
    }

    /* Section 1 */
    .custom-container-section-1{
        padding: 0px 10px;
    }
}

/* Media Query Extra Small Screen "XSM" */
@media screen and (max-width: 299px){
    /* Header */
    .header-wave-2{
        bottom: 10px;
    }
}

/* Media Query For Screen Rotation */
@media screen and (max-height: 510px){
    /* Header */
    .custom-header{
        height: 100vh;
    }

    .bg-filter-header{
        padding: 10% 60px 0px 60px;
    }

    .header-custom-paragraph{
        display: none;
    }

    .header-custom-button{
        margin-top: 20px;
    }

    .header-wave-1{
        bottom: -40px;
    }

    .header-wave-2{
        bottom: -20px;
    }
}

/* Media Query For Screen Rotation "Fold Model Issues" */
@media screen and (max-height: 280px){
    /* Header */
    .bg-filter-header{
        padding: 5% 60px 0px 60px;
    }

    .header-wave-2{
        bottom: -25px;
    }
}